/* .footer
{
    height:600px;
    width:100%;
    margin-top: 80px;
    border:15px solid rgb(228, 235, 235);
    background-color: rgb(228, 235, 235);
}
.logo_p
{
    left:100px;

}
.footer_para
{
    margin-left: 50px;
    margin-top: 300px;
    font-size: ;
}
.icons
{
    margin-top: 40px;
    margin-left: 80px;
    font-size: 20px;
    letter-spacing: 10px;

}
.copyright{
    margin-top: 90px;
    margin-left: 80px;
}
.course
{
    margin-left: 650px;
    margin-top: -450px;
}
.footer_list
{
    margin-top: 10px;
    list-style: none;
    line-height: 35px;
    margin-left: -35px;
}

.contact_info
{
    margin-left: 1000px;
    margin-top: -300px;
}
.contact_details
{
    margin-top: 25px;
    margin-left: 20px;
    line-height: 10px;
} */